# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Testing / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/

# Django
*.sqlite3
*.log
example/staticfiles/
example/media/

# Environment
.env
.env.*

# OS
.DS_Store
